@page
@model IndexModel
@{
    ViewData["Title"] = "ServiceApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Welcome to ServiceApp developed by SAM team. Here you can choose different services...</h4>
    <img src="https://www.salesforce.com/content/dam/web/en_us/www/images/hub/service/how-to-choose-the-right-customer-service-app-opengraph.png" />
</div>
