@page
@model IndexModel
@{
    ViewData["Title"] = "ServiceApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Welcome to ServiceApp developed by SAM team. Here you can choose different services...</h4>
    <img style="width:550px" src="https://th.bing.com/th/id/R.56387f1178966478a5b189c442de9b2a?rik=vPAu8RhtrH8tvQ&riu=http%3a%2f%2fwww.freelogovectors.net%2fwp-content%2fuploads%2f2018%2f08%2fservicenow-logo.png&ehk=K%2fgn4jePftFwD9%2fT1Y4F7xWXysvl%2bN6TvF5u94p5RCE%3d&risl=&pid=ImgRaw&r=0" />
</div>
