
@using SA.Data.Entity
@model List<SA.Data.Entity.Tenant>

@{
    ViewData["Title"] = "View";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    
    <div class="container" >

    @**<div class="m-3">
        <a class="btn btn-success" asp-controller="Tenant" asp-action="Create">Add new Product</a>
    </div>
    **@
                         @if (User.IsInRole("ADMIN"))
{
     <div class="m-3">
        <a class="btn btn-success" href="/Tenant/Create">Add new Tenant</a>
    </div>
}

    <div>
        Choose tenant:
    </div>



    @for (int i = 0; i < Model.Count; i++)
     {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @:<div class="row">
        }


        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="@item.LogoURL" style="height: 50%" alt="Image for product!" />

                <div class="card-body">
                    <h3 class="card-title">@item.Name</h3>
                   

                    <h6>Address:   <span>@item.Address</span></h6>
                      <h6>Phone number: <span>@item.PhoneNumber</span></h6>
                </div>
      
                <div class="card-footer">

                    <div class="m-3">
                        <a class="btn btn-success" href="/Tenant/GetDetails?id=@item.Id">See more</a>
                     </div>


                 

                                         @if (User.IsInRole("ADMIN"))
{
                     <div class="m-3" >
                        <a class="btn btn-danger" href="/Tenant/Delete?id=@item.Id">Delete</a>
                        <a class="btn btn-danger" href="/Tenant/Edit?id=@item.Id">Edit</a>

                     </div>
}
                </div>
            </div>
        </div>



        if (i % 3 == 2)
        {
            @:</div>
        }
    }
    </div>
}
